.sidebar {
  width: 90px;
  min-height: 100vh;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;

  ul {
    li {
      a {
        text-align: center;
        color: rgba($color: $light, $alpha: .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;

        &:hover {
          color: rgba($color: $light, $alpha: 1);
        }
        
        &.active {
          color: rgba($color: $light, $alpha: 1);
        }

        i {
          font-size: 28px;
          font-weight: normal;
        }
      }
    }
  }
}