table {
  width: 100%;
  border-collapse: collapse;

  tr {
    td, th {
      padding: 12px 0;
    }
    
    th {
      border-bottom: 2px black solid;
      font-weight: 700;
      background-color: $dark-blue;
      color: $light;
    }
    
    td {
      border-bottom: 2px rgba($color: #000000, $alpha: .2) solid;
    }
  }
}